.nav{
    background-color: purple;
}
.nav__li{
    display: inline-block;
    padding: 10px;
}

.nav__li:hover >i{
    color: gray;
}

.nav__li:hover > a{
    color: gray;
}

.nav__li a{
    color: white;
    text-decoration: none;
}

.nav__li i{
    color: white;
    box-sizing: border-box;
    text-align: right;
    margin-right: 7px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .user-form label {
    margin-bottom: 5px;
  }
  
  .user-form input {
    margin-bottom: 10px;
  }
  

/*.div__input{
    background: rgb(165, 164, 164);
}

.div__UserList{
    background-color: gray;
    text-align: center;
    padding: 20px;
}

.div__UserList-h2{
    background-color: aqua;
}

.div__UserList-button{
    background-color: aqua;
}

* p{
background-color: aqua;
}*/